.claim-process .bg-secondary {
    height: 100%;
}
.claim-process .rounded-circle {
    background-color: rgba(255,255,255, 0.1);
    height: 82px;
    width: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.claim-process .row .row {
    height: 100%;
}