.notification {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid $gray-300;
    }
    &__body {
        max-height: 250px;
        overflow: hidden;
        overflow-y: auto;
        position: relative;
    }
    &__footer {
        padding: 1rem;
        border-top: 1px solid $gray-300;
    }
    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
        background-color: $gray-100;
        position: relative;
        a {
            font-weight: bold;
            color: var(--gray-dark);
        }
        &--unread {
            background-color: $white;
            padding-right: 2rem;
            &:after {
                content: "";
                width: 6px;
                height: 6px;
                background-color: var(--success);
                border-radius: 10em;
                position: absolute;
                right: 1rem;
            }
        }
    }
    &__item-user {
        margin-right: 1rem;
    }
}