.dropdown-menu-lg {
    width: 320px;
}
@include media-breakpoint-down(sm) {
    .nav-item--message, .nav-item--notification {
        position: static;
        .nav-link {
            position: relative;
        }
    }
    .dropdown-menu-lg {
        width: auto;
        right: 1rem;
        left: 1rem;
    }
}
.dropdown-item{

    &:active,&:focus ,&.active{
        outline-color:$component-active-bg;
        color:var(--white) !important;
    }

}