@using Cicero.Service.Models
@using Cicero.Service.Helpers
@model ChangePasswordViewModel
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<form action="@Url.Content("~/user/change-password.html")" id="chng-form" method="post">
    <div class="loading loading--absolute">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="status" id="modal-status"></div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label asp-for="OldPassword">Old password</label>
        <input asp-for="OldPassword" type="password" class="form-control" placeholder="">
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword">New password</label>
        <input asp-for="NewPassword" type="password" class="form-control" placeholder="">
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
</form>
