
@{
    ViewData["Title"] = "Confirm email";
    ViewData["body"] = "inner-pg";
}

@await Html.PartialAsync("../Shared/_Header.cshtml")

<main role="main" class="container">
    <div class="status"></div>
</main>
@await Html.PartialAsync("../Shared/_Footer.cshtml")
@section Scripts{}
