@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<main role="main" class="authentication-main-container">
    <!-- main content starts -->
    <div class="authentication authentication--forgot-password">
        <div class="authentication__sidebar">
            <div class="brand d-flex justify-content-center align-items-center">
                <img src="~/admin/assets/img/site-logo.png" alt="Vesuvio">
            </div>
        </div>
        <div class="authentication__content">
            <form class="form-userinput" method="POST">
                <div asp-validation-summary="All" class="text-danger mt-4"></div>
                <h1 class="h3 mt-5 mb-4 font-weight-normal">Forgot your Password</h1>
                <p>Enter your email address that you used to register. We'll send you an email with a link to reset your password.</p>
                <div class="form-group">
                    <label asp-for="Input.Email">Email address</label>
                    <input asp-for="Input.Email" class="form-control" placeholder="" required autofocus>
                </div>    
                <button class="btn btn-primary btn-block" type="submit">Send</button>
                <p class="mt-4 mb-0 text-center">
                    <a asp-page="./Login"><i class="ri-arrow-left-s-line"></i> Back to Login</a>
                </p>
                <br>
            
            </form>
        </div>
    </div>
    <!-- main content ends -->
</main>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
