/*!
Website Name: Cicero
Website URL: 
Author: Niraj Shakya
Author URI: www.nirajshakya.com
Description: 
Version: 1.0.0
Text Domain: Cicero
Tags: Cicero, Carriers, marines 
*/
@import 'vendor/include-media';
@import 'base/variables';
@import 'components/button';
@import 'base/base';
@import 'base/utilities';
@import 'base/typo';
@import 'components/validation';
@import 'components/dropdown';
@import 'components/banner';
@import 'components/tab';
@import 'components/carousel';
@import 'components/footer';
@import 'components/useracces';
@import 'components/form';
@import 'components/nav';
@import 'components/list';
@import 'components/card';
@import 'components/claim-summary';
@import 'components/accordion';
@import 'components/messages';
@import 'components/blog';
@import 'components/comment';
@import 'components/testimonies';
@import 'components/lightbox';
@import 'layout/layout';
@import 'base/animation';
@import 'layout/fluid-layout';
@import 'pages/newclaim';
@import 'components/claim-detail';