@using Cicero.Service.Models
@using Cicero.Service.Helpers
@model ResetPasswordViewModel
@using Cicero.Service.Models.Core;
@{
    ViewData["Title"] = "Reset Password";
    ViewData["body"] = "inner-pg";
    Theme theme = ViewData["theme"] as Theme;
    Layout = "~/Themes/" + theme.GetName(false) + "/Shared/_Layout.cshtml";
}
<!-- nav s -->
@await Html.PartialAsync("../Shared/_Header.cshtml")
<!-- nav e -->
<!-- container s -->
<!-- <div class="jumbotron p-0">
    <div class="rounded-0 inner-promo py-5">
        <div class="position-relative z-index-2 container">

        </div>
    </div>
</div> -->
<main role="main" class="container">
    <!-- user access s -->
    <div class="user-access mx-auto my-5 p-0 p-md-5">
        <h3 class="text-center mb-5">Reset Password</h3>
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="status"></div>
            <div asp-validation-summary="All" class="text-danger mt-2"></div>
            <div class="form-group">
                <label class="sr-only">Email</label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="sr-only">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="sr-only">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <small class="form-text text-muted mb-4">Enter your Email if you have forgotten your Password.</small>
            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
        </form>
        <p class="mt-5 text-center">Have an account? <a href="@Url.Content("~/st/user/login.html")">Login here</a></p>
    </div>

    <!-- user access e -->

</main>
<!-- get started e -->
<div class="Cicero-illustration">
    <img src="/frontend/img/Cicero-illustration.svg" class="img-fluid">
</div>
@await Html.PartialAsync("../Shared/_Footer.cshtml")
@section Scripts{}
