@using Cicero.Service.Models.Core.Elements
@model Cicero.Service.Models.Core.Elements.Paragraph
@{
    Paragraph ph = Model as Paragraph;
}
<div class="fb-element">
    <div class="form-group">
        <label>
            @ph.BackendLabel
        </label>
     <p>
         @ph.ParagraphText
     </p>
    </div>
</div>